<div class="layout__container__wrapper">
    <header class="layout_container_full_width">
        <div class="header__first__section">
            <a href="/" class="logo">
                <img src="../../../assets/logo.svg" alt="">
                Educode
            </a>
        
            <button class="header__btn sidebar__btn">
                <fa-icon [icon]="faBarsStaggered"></fa-icon> Explore
            </button>
        </div>
        
        <nav>
            <a href="hello" class="nav__link">Home<fa-icon [icon]="faChevronDown"></fa-icon></a>
            <a href="#" class="nav__link">Courses<fa-icon [icon]="faChevronDown"></fa-icon></a>
            <a href="#" class="nav__link">Events<fa-icon [icon]="faChevronDown"></fa-icon></a>
            <a href="#" class="nav__link">Blog<fa-icon [icon]="faChevronDown"></fa-icon></a>
            <a href="#" class="nav__link">Pages<fa-icon [icon]="faChevronDown"></fa-icon></a>
            <a href="#" class="nav__link">Contact</a>
        </nav>
    
        <div class="header__third__section">
            <button class="header__btn search__icon">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
    
            <button class="header__btn cart__icon">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </button>
    
            <a href="#" class="link">Log in</a>
            <a href="#" class="btn__link">Sign Up</a>
        </div>
    </header>
</div>
