<div class="layout__container__wrapper partners">
    <img src="../../../../assets/partners-logos/amazon.svg" alt="" class="partner__image">
    <img src="../../../../assets/partners-logos/amd.svg" alt="" class="partner__image">
    <img src="../../../../assets/partners-logos/cisco.svg" alt="" class="partner__image">
    <img src="../../../../assets/partners-logos/dropcam.svg" alt="" class="partner__image">
    <img src="../../../../assets/partners-logos/logitech.svg" alt="" class="partner__image">
    <img src="../../../../assets/partners-logos/Spotify.svg" alt="" class="partner__image">
</div>