<div class="layout__container__wrapper">
    <section class="hero layout_container_full_width">
        <h1 class="hero__title">
            Learn New Skills Online With Top <span class="green-text-underline">Educators</span>
        </h1>
    
        <p class="hero__description">
            Build skills with courses, certificates, and degrees online from 
            world-class universities and companies.
        </p>
    
        <div class="hero__buttons">
            <button class="btn__link btn__primary">
                Join For Free
            </button>
    
            <button class="btn__link btn__secondary">
                Find Courses
            </button>
        </div>
        <div class="hero__statistics">
            <p class="hero__statistics_child">
                <fa-icon [icon]="faGraduationCap"></fa-icon> Over 12 million students
            </p>
            <p class="hero__statistics_child">
                <fa-icon [icon]="faPlayCircle"></fa-icon>More than 60,000 courses
            </p>
            <p class="hero__statistics_child">
                <fa-icon [icon]="faBookOpenReader"></fa-icon>Learn anything online
            </p>
        </div>
    
        <div class="hero__images">
            <div class="hero__image__container">
                <img src="" alt="" class="hero__image">
                <div class="hero__image__description">
    
                </div>
            </div>
    
            <div class="hero__image__container">
                <img src="" alt="" class="hero__image">
                <div class="hero__image__description">
    
                </div>
            </div>
    
            <div class="hero__image__container">
                <img src="" alt="" class="hero__image">
                <div class="hero__image__description">
    
                </div>
            </div>
        </div>
    </section>
</div>
