@import "../../../../styles/root/mixins";

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, max-content);
  color: var(--theme-on-primary);
  gap: 1.5rem;
  padding-bottom: 5rem;
}

.layout__container__wrapper {
  position: relative;
  background: url("../../../../assets/hero_bg_elements.svg")
    var(--theme-primary) no-repeat center / 80%;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    width: 25%;
    height: 75%;
    border-radius: 20rem 20rem 0 0;
    background-color: var(--theme-on-primary);
    transform: rotate(30deg) translateY(13%);
    opacity: 0.05;
    min-height: 30rem;
    max-height: 40rem;
    max-width: 30rem;
    min-width: 20rem;
    z-index: -1;
  }
}

.hero__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: -1;
  gap: 1rem;
  .hero__image__container:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: -1;
    width: 90%;
    align-self: center;
    aspect-ratio: 300 / 400;
  }

  .hero__image__container:nth-child(2) {
    width: 55%;
    align-self: center;
    aspect-ratio: 1 / 1;
  }

  .hero__image__container:nth-child(3) {
    width: 70%;
    aspect-ratio: 1 / 1;
  }

  .hero__image__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1rem;
    position: relative;
    transform: translate(calc(var(--x) + 10px), calc(var(--y) + 10px));
    transition-delay: 10ms;
    &:first-child {
      .hero__image__description {
        width: 80%;
      }
    }

    &:nth-child(2) {
      .hero__image__description {
        width: 120%;
      }
    }

    &:nth-child(3) {
      .hero__image__description {
        width: 110%;
        transform: translate(-30%, 50%);
        padding: 1rem 2rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      background-color: var(--theme-primary);
      top: -1px;
      right: -1px;
      clip-path: polygon(100% 31.75%, 100% 0%, 57.67% 0%);
    }

    .hero__image__description {
      display: flex;
      gap: 0.5rem;
      padding: 1rem;
      margin-top: auto;
      background-color: var(--theme-on-primary);
      font-size: 0.875rem;
      border-radius: 0.5rem;
      transform: translate(-60%, 50%);
      .hero__image__icon {
        display: grid;
        place-items: center;
        background-color: rgba(var(--theme-orange-rgb), $alpha: 0.2);
        color: var(--theme-orange);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }

      .hero__image__description__circle {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: var(--theme-success);
      }

      .hero__image__description__rating {
        display: flex;
        gap: 0.5rem;
        color: var(--theme-gold);
        font-size: 0.5rem;
      }

      .hero__image__icon__award {
        position: absolute;
        display: grid;
        place-content: center;
        background-color: var(--theme-secondary);
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        font-size: 1rem;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
      }

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
        gap: 0.5rem;
        // p:nth-child(1) {
        //   color: var(--theme-orange);
        // }

        // p:nth-child(2) {
        //   color: var(--theme-gray);
        // }
      }
    }
  }
}

.hero__title {
  max-width: 40rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 5rem;
  text-transform: capitalize;
  padding-top: 8rem;
}

.hero__description {
  max-width: 30rem;
  font-size: 1.0625rem;
  line-height: 2.25;
}

.hero__buttons {
  display: flex;
  gap: 1rem;
}

.hero__statistics {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 3rem;
  .hero__statistics_child {
    display: flex;
    gap: 0.5rem;
  }
}
