<div class="testimonial-card">
    <div class="title color1 mb1">
        <span>{{testimonial.title}}</span>
        <div class="qoute"></div>
    </div>
    <p class="description head-color mb2">{{testimonial.description}}</p>
    <hr class="divider-solid">
    <div class="author___section">
        <img class="p1" srcset="{{testimonial.images}}" alt="">
        <div>
            <span class="author head-color">{{testimonial.author}}</span>
            <span class="author__job__title text-color">{{testimonial.authorJobTitle}}</span>
        </div>
    </div>
</div>