<div class="layout__container__wrapper">
    <section class="hero layout_container_full_width">
        <h1 class="hero__title">
            Learn New Skills Online With Top <span class="title__green text__underline">Educators</span>
        </h1>
    
        <p class="hero__description">
            Build skills with courses, certificates, and degrees online from 
            world-class universities and companies.
        </p>
    
        <div class="hero__buttons">
            <button class="btn__link btn__primary">
                Join For Free
            </button>
    
            <button class="btn__link btn__secondary">
                Find Courses
            </button>
        </div>
        <div class="hero__statistics">
            <p class="hero__statistics_child">
                <fa-icon [icon]="faGraduationCap"></fa-icon> Over 12 million students
            </p>
            <p class="hero__statistics_child">
                <fa-icon [icon]="faPlayCircle"></fa-icon>More than 60,000 courses
            </p>
            <p class="hero__statistics_child">
                <fa-icon [icon]="faBookOpenReader"></fa-icon>Learn anything online
            </p>
        </div>
    
        <div class="hero__images" [style]= "hero_image_style">
            <div class="hero__image__container" style="background: url('../../../../assets/image_placeholder.svg') var(--theme-primary) no-repeat center / cover;">
                <div class="hero__image__description">
                    <span class="hero__image__icon"><fa-icon [icon]="faSuitcase"></fa-icon></span>
                    <div>
                        <p class="p__orange">3.000 +</p>
                        <p class="p__gray">Free Courses</p>
                    </div>
                </div>
            </div>
    
            <div class="hero__image__container" style="background: url('../../../../assets/image_placeholder.svg') var(--theme-primary) no-repeat center / cover;">
                <div class="hero__image__description">
                    <span class="hero__image__description__circle"></span>
                    <div>
                        <p class="p__primary">Ali Tufan</p>
                        <p class="p__gray">UX/UI Designer</p>
                        <div class="hero__image__description__rating">
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="hero__image__container" style="background: url('../../../../assets/image_placeholder.svg') var(--theme-primary) no-repeat center / cover;">
                <div class="hero__image__description">
                    <span class="hero__image__icon__award"><fa-icon [icon]="faMedal"></fa-icon></span>
                    <div>
                        <p class="p__secondary">Congrats!</p>
                        <p class="p__gray">Your Admission Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <svg class="svg-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto"><defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g class="svg-waves__parallax"><use xlink:href="/#gentle-wave" x="48" y="0"></use><use xlink:href="/#gentle-wave" x="48" y="3"></use><use xlink:href="/#gentle-wave" x="48" y="5"></use><use xlink:href="/#gentle-wave" x="48" y="7"></use></g></svg>
</div>
