$_fontWeight:10;
$_header_title:6;

@for $i from 1 through $_fontWeight{
    $weight:$i * 100;
    .w#{$weight}{
        font-weight: $weight;
    }
}

@for $i from 1 through $_header_title{
    .h#{$i}__title{
        font-size: calc((7rem - #{$i}rem)/3);
        font-style: normal;
    }
}

.title__green{
    color:var(--theme-success);
}

.text__underline{
    text-decoration: underline;
}

.title__primary{
    color: var(--theme-primary);
}

.title__gray{
    color: var(--theme-gray);
}

.title__color5{
    color: var(--color-5);  
}

.text__center{
    text-align: center;
}